*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #16111F;
}

.header{
    color: #fff;
    margin-top: 90px;
}

.header h1{
    font-size: 50px;
    font-weight: 600;
}

.header a{
    text-decoration: none;
    color: #FF7300;
}

.card{
    border-radius: 2px;
    background: #1C1627;
    color: #fff;
    padding: 10px 20px;
    transition: 0.5s ease;
}


.card:hover{
    background: #FF7300;
}

.card .card-number h2{
    font-size: 50px;
    font-weight: 700;
    opacity: 15%;
}

.card:hover h2{
    color: #1C1627;
}

.card p{
    font-size: 15px;
}

.card a{
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease;
}

.card a:hover{
    letter-spacing: 1px;
}